[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "zpm"]
	path = zpm
	url = https://github.com/zzhang1987/zpm
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
