[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "zpm"]
	path = zpm
	url = https://github.com/zpm-zsh/zpm
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
